<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">


    <title>Swack - ルーム参加画面</title>

    <link rel="icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}" />

    <!-- CDN : Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="../static/css/addMember.css" th:href="@{/css/addMember.css}" />
  </head>

  <body>
    <div class="container w-90 h-100" style="max-width: 700px">
      <div class="card">
        <h2 class="fw-bold mt-4">メンバー招待</h2>

        <form method="post" th:action="@{/joinmember}">
          <div class="form-group mt-4" >
            <p class="bg-danger text-light" th:text="${errorMessage}">#errorMessage</p>
            <label class="fw-bolder">まだ参加していないメンバー</label>
            <select id="userList" name="userIds" multiple="multiple">
              <option th:each="joinableUsers : ${joinableUsers}" th:text="${joinableUsers.userName}" th:value="${joinableUsers.userId}">#username</option>
            </select>
            <span class="text-secondary ms-2">招待するメンバーを選んでください。</span>
          </div>

          <div class="float-end mt-3">
            <a class="text-decoration-none" href="/"
              ><input type="button" class="btn btn-danger" value="キャンセル"
            /></a>
            <button id="send" class="btn btn-secondary" value="U****" name="roomId" >選択したメンバーを招待する</button>
            <!-- hiddenで隠す java scriptでvalue書き換え-->
            <p id = "hiddenRoomId" th:value = "${roomId}" hidden></p>
          </div>
        </form>
      </div>
    </div>
    <!-- container -->

    <!-- CDN : Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script src="../static/js/joinmember.js" th:src="@{/js/joinmember.js}"></script>
  </body>
</html>
